@model IEnumerable<PostTagCountVM>

<div class="d-flex gap-1 justify-content-end">
    @foreach (var item in Model)
    {
        <a asp-controller="Tag" asp-action="@item.TagName.Replace(" ","-")" class="border bg-black text-white p-1">
            @item.TagName
        </a>
    }
</div>

