@{
    ViewData["title"] = "Home";
}
@* @model IEnumerable<Post> *@

<h1>All Post</h1>
<hr />
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @* @foreach (var item in Model)
            {

                <!-- Post preview-->
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">@item.PostTitle</h2>
                        
                    </a>
                    <p class="post-meta">
                        Posted by @item.CreatedDate
                    </p>
                    <p class="post-subtitle">@item.PostContent</p>
                </div>
               
                <hr class="my-4">
                
            }
 *@

            
        </div>
    </div>
</div>
