@{
    ViewData["title"] = "Home";
}


<h1>Lastest Post</h1>
<hr />
<div id="lastestPost">

</div>

@section Scripts {
    <script>
        $('#lastestPost').load("/Post/LatestPosts")

    </script>
}